@import 'vars';

body {
  font-family: 'Sen', sans-serif;
  font-size: 10px;
  background-color: $black;
  color: $skyplum;
  background-image: url('../../images/headerbg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  margin: 0;
  padding: 0;
}



h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 144px;
}

h2 {
  font-size: 96px;
}

h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 144px;
  color: $gold;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
}

.layout-block {
  min-height: 100vh;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $black;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.35);

  div {


    ul {
      margin-top: 15px;
      margin-bottom: 15px;
      display: flex;
      flex-direction: row;
    }

    li {
      cursor: pointer;
      list-style: none;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 1px;
      color: $gold;
      margin-right: 30px;

      a {
        color: $gold;
        text-decoration: none;

        &:hover {
          color: $skyplum;
          text-decoration: none;
        }

        &:visited {
          color: $gold;
          text-decoration: none;
        }
      }

      &:hover {
        color: $skyplum;
      }
    }
  }


}

.logo {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;

  &__lady-liberty {
    background-image: url('../../images/clib.jpg');
    background-position: center top;
    width: 300px;
    height: 400px;
    background-repeat: no-repeat;
    display: inline-block;
  }

  &__container {
    width: 100%;
    text-align: center;

    h1 {
      line-height: 55px;
    }

    span {
      display: block;
      text-align: center;
      font-size: 18px;
      text-align: center;
      letter-spacing: 15px;
      margin-top: 50px;
      color: $gold;
    }
  }
}

.our-artists {
  div {
    &:nth-child(odd) {
      .our-artists__avatar {
        order: 1;
      }

      .our-artists__blurb {
        order: 2;
      }
    }

    :nth-child(even) {
      .our-artists__avatar {
        order: 2;
      }

      .our-artists__blurb {
        order: 1;
      }
    }
  }

  &__title {
    text-align: center;

    h1 {
      line-height: 55px;
    }

    h2 {
      padding-bottom: 50px;
      border-bottom: 1px solid $gold;
    }

    p {
      color: $skyplum;
    }
  }

  &__avatar {}

  &__blurb {

    h2 {
      padding-top: 10px;
      text-align: left;
      font-family: 'Bebas Neue', sans-serif;
      font-size: 34px;
      color: $gold;
    }

    p {
      font-size: 18px;
    }
  }

  &__social {
    display: block; 
    a {
      padding-left: 5px;
      padding-right: 5px;
      color: $gold;
      i {
        font-size: 16px;
      }
      &:visited {
        color: $gold;
      }
      &:hover {
        color: $skyplum;
        text-decoration: none;
      }
    }
  }

  &__container {
    background-color: $slate;
  }

}

.about-us {
  &__title {
    min-height: 100vh;
    border-right: 1px solid $gold;
    box-sizing: border-box;
    display: flex;
    align-items: center;
  }

  &__blurb {
    background-color: $slate;
    display: flex;
    align-items: center;
    min-height: 100vh;
  }
}

.contact-us-bg {
  position: absolute;
  z-index: -1;
  top: 380vh;
  width: 100%;
  height: 100vh;
  background-image: url('../../images/headerbg.jpg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: 100% auto;
  transform: rotate(180deg);
}

.contact-us {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;

}

.article-page {
  text-align: left;
  
  h1 {
    text-align: left;
    border-bottom: 1px solid $gold;
  }
  h2 {
    text-align: left;
  }
  h3 {
    text-align: left;
    font-size: 55px;
    a {
      color: $skyplum;
      text-decoration: none;
      &:hover {
        color: $gold;
        text-decoration: underline;
      }
      &:visited {
        color: $skyplum;
        text-decoration: none;
      }
    }
  }
  h4 {
    text-align: left;
    font-size: 24px;
    color: $gold;
  }
  p {
    text-align: left;
    font-size: 18px;
  }
}