{# modules/two-column-widget/views/widget.html #}
<section class="row">
  <div class="col-lg-4 col-md-8 col-sm-12 our-artists__avatar">
    {% area data.widget, 'columnOne' %}
  </div>
  <div class="col-lg-8 col-md-8 col-sm-12 our-artists__blurb">
    <div>{% area data.widget, 'columnTwo' %}</div>
    <div class="our-artists__social mt-5">

      {% if data.widget.faceBookUrl %}
        <a href="{{data.widget.faceBookUrl}}">
          <i class="fab fa-facebook"></i>
        </a>
      {% endif %}

      {% if data.widget.instagramUrl %}
        <a href="{{data.widget.instagramUrl}}">
          <i class="fab fa-instagram"></i>
        </a>
      {% endif %}

      {% if data.widget.twitterUrl %}
        <a href="{{data.widget.twitterUrl}}">
          <i class="fab fa-twitter"></i>
        </a>
      {% endif %}

      {% if data.widget.patreonUrl %}
        <a href="{{data.widget.patreonUrl}}">
          <i class="fab fa-patreon"></i>
        </a>
      {% endif %}

      {% if data.widget.openSeaUrl %}
        <a href="{{data.widget.openSeaUrl}}">
          <i class="fas fa-ship"></i>
        </a>
      {% endif %}

    </div>

  </div>

</section>